In [4]:
import numpy as np
import pandas as pd

In [5]:
from numpy.random import randn

In [2]:
# Index levels
outside = ['G1','G1','G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
heir_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
df = pd.DataFrame(randn(6, 2), heir_index, ['A', 'B'])

In [7]:
df

             A         B
G1 1  0.501347  0.777824
   2  1.645367  0.032299
   3 -1.707337  2.258960
G2 1  1.413278  0.612516
   2 -0.870268  2.088512
   3  0.009222 -0.364912

In [15]:
df.loc['G1']

          A         B
1  0.501347  0.777824
2  1.645367  0.032299
3 -1.707337  2.258960

In [17]:
df.index.names = ['Groups', 'Num']

In [18]:
df

                   A         B
Groups Num
G1     1    0.501347  0.777824
       2    1.645367  0.032299
       3   -1.707337  2.258960
G2     1    1.413278  0.612516
       2   -0.870268  2.088512
       3    0.009222 -0.364912

In [20]:
df.loc['G1'].loc[1]

A    0.501347
B    0.777824
Name: 1, dtype: float64

In [25]:
df.loc['G2'].loc[2]['B']

2.088512053732733

In [28]:
df.loc["G1"].loc[3]['A']

-1.707336886362644

In [29]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.501347  0.777824
G2      1.413278  0.612516