In [5]:
import numpy as np
import pandas as pd
# Series

In [6]:
my_data = [10, 20, 30]
labels = ['a', 'b', 'c']
arr = np.array(my_data)
d = {'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series([len, print, sum])

0      <built-in function len>
1    <built-in function print>
2      <built-in function sum>
dtype: object

In [20]:
ser1 = pd.Series([1,2,3,4], ["USA", "Germany", "Japan", "USSR"])

In [21]:
print(ser1)

USA        1
Germany    2
Japan      3
USSR       4
dtype: int64

In [22]:
ser2 = pd.Series([1,2,3,4], ["USA","Germany", "Italy", "Japan"])

In [23]:
print(ser2)

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [24]:
ser2['USA']

1

In [25]:
ser3 = pd.Series(data = labels)

In [26]:
ser3[2]

'c'

In [27]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      7.0
USA        2.0
USSR       NaN
dtype: float64